/* font-family: 'Playfair Display', serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

header {
    padding: 25px 0;
    background-color: orange;
}

.container {
    margin: 0 auto;
    overflow: hidden;
    width: 69%;
}

.logo {
    width: 14%;
    float: left;
    margin-top: 10px;
}

.logo a img {
    width: 100%;
    float: left;
}

.menu {
    width: 70%;
    float: right;
}

.menu ul {
    list-style: none;
    float: right;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 60px;
    color: black;
}

.menu ul li a:last-child {
    margin-right: 0;
}